@page
@model PPKProjekt.Pages.CRUDServisStavka.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServisStavka[0].Naziv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ServisStavka) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IDServisStavka">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IDServisStavka">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IDServisStavka">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
