@page
@model PPKProjekt.Pages.CRUDVozila.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vozilo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vozilo.Tip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vozilo.Tip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vozilo.Marka)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vozilo.Marka)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vozilo.GodinaProizvodnje)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vozilo.GodinaProizvodnje)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vozilo.InicijalniKM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vozilo.InicijalniKM)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Vozilo.IDVozilo">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>